*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: #fff;
  color: #000;
  position: relative;
  z-index: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 3rem;
  }
}

/* Header */
.header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #000;
  z-index: 1;
}

.header img {
  position: absolute;
  right: 5%;
  bottom: 0;
  width: 60rem;
  z-index: -1;
}

@media only screen and (max-width: 996px) {
  .header {
    min-height: 60vh;
  }
  .header img {
    width: 50rem;
  }
}

@media only screen and (max-width: 768px) {
  .header img {
    width: 40rem;
  }
}

@media only screen and (max-width: 567px) {
  .header {
    min-height: 100vh;
  }
  .header img {
    width: 35rem;
  }
}

.nav {
  /* 1.6rem responsive padding for nav bar so that it isn't too close to the top of the screen */
  padding: 1.6rem 0;
  color: #fff;
}

.nav.fix-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #dd9a05;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.top-nav {
  display: none;
}

.navigation {
  display: flex;
  align-items: center;
  /* space-between but the items at the opposite side of the page from each other */
  justify-content: space-between;
}

.logo h1 {
  font-size: 2.5rem;
  color: #fff;
}

.logo h1 span {
  font-weight: bold;
  color: #dd9a05;
}

.nav-list {
  display: flex;
  align-content: center;
}

.nav-item:not(:last-child) {
  margin-right: 0.5rem;
}

.nav-link:link,
.nav-link:visited {
  color: #fff;
  padding: 0.8rem 1rem;
  transition: all 300ms ease-in-out;
}
.nav-link:hover {
  border-radius: 0.3rem;
  background-color: #dd9a05;
}

.hamburger {
  display: none;
}

/* setting how the website will look on a tablet size device */
@media only screen and (max-width: 768px) {
  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    height: 100%;
    max-width: 40rem;
    background-color: #fff;
    transition: all 500ms ease-in-out;
    /* z-index changes the stacking order when viewing on a small screen size */
    z-index: 100;
  }

  .menu.show {
    left: 0;
  }

  .top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #dd9a05;
    padding: 1rem 1.6rem;
  }
  /* changes the dot to white so that it can be seen on the yellow background */
  .top-nav .logo span {
    color: #fff;
  }

  .top-nav .close {
    color: #fff;
    font-size: 2.3rem;
    padding: 1rem;
    cursor: pointer;
  }

  .hamburger {
    display: block;
    color: #fff;
    font-size: 2.3rem;
    padding: 0.5rem;
    cursor: pointer;
  }
  .nav-link:link,
  .nav-link:visited {
    display: block;
    font-size: 1.7rem;
    color: #222;
    padding: 1rem 0;
  }

  /* moves nav links from horizontal to a column */
  .nav-list {
    flex-direction: column;
    align-items: start;
    padding: 1rem 1.6rem;
  }

  body.show::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
  }

  .nav.show {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

/* positioning of intro block */
.hero {
  position: absolute;
  top: 50%;
  transform: translate(25%, -50%);
  color: #fff;
}

.hero h3 {
  font-weight: 400;
}

.hero h1 {
  font-size: 4.5rem;
}

.hero h4 {
  font-size: 2rem;
}

.hero h4 span {
  color: #dd9a05;
  text-decoration: underline;
}

.hero a:link,
.hero a:visited {
  display: inline-block;
  padding: 0.8rem 2.5rem;
  border: 1px solid #dd9a05;
  background-color: #dd9a05;
  color: #fff;
  margin-top: 2rem;
  border-radius: 0.3rem;
}

.hero a:hover {
  background-color: transparent;
}

@media only screen and (max-width: 996px) {
  .hero {
    transform: translate(10%, -50%);
  }
}

@media only screen and (max-width: 768px) {
  .hero h1 {
    font-size: 4rem;
  }
}

/* this makes the into block texk jump up to the top 35% of the screen which in turn puts it above the main page image when viewing on a small screen */
@media only screen and (max-width: 567px) {
  .hero {
    top: 35%;
  }
  /* reduces the font sizes for a mobile screen */
  .hero h3 {
    font-size: 1.6rem;
  }

  .hero h1 {
    font-size: 3rem;
  }

  .hero h4 {
    font-size: 1.6rem;
  }
}

/* external links to github etc */
.icons {
  position: absolute;
  bottom: 5%;
  left: 10%;
  color: #fff;
}
/* spacing the external link icons */
.icons span:not(:last-child) {
  margin-right: 1rem;
}

.icons span {
  font-size: 2rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.icons span:hover {
  color: #dd9a05;
}

@media only screen and (max-width: 567px) {
  .icons {
    display: none;
  }
}

/* "About Me" styling */
.section {
  padding: 5rem 0 7rem 0;
  overflow-x: hidden;
}

.about {
  margin-top: 5rem;
}

.title {
  margin: 4rem 0 7rem 0;
  text-align: center;
}

.title h1 {
  font-size: 3rem;
  display: inline-block;
  position: relative;
  z-index: 0;
}

/* adding colored underline of the "About Me" title */
.title h1::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -20%;
  transform: translate(-50%, -50%);
  background-color: #dd9a05;
  width: 50%;
  height: 0.4rem;
  z-index: 1;
}

/* positions the text to the side of the image with gap in between */
.about-center {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 3rem 5rem;
}

.left img {
  height: 40rem;
  max-width: 35rem;
  object-fit: cover;
  border-radius: 0.7rem;
}

.right h1 {
  margin-bottom: 2rem;
}

.right p {
  line-height: 2;
  margin-bottom: 2rem;
  color: #333;
}

.right h1 span {
  color: #dd9a05;
}

a.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #dd9a05;
  color: #fff;
  border-radius: 0.5rem;
  border: 2px solid #dd9a05;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 300ms ease-out;
}

a.btn:hover {
  transform: translateY(-3px);
}

a.btn:active {
  transform: translateY(0);
}

@media only screen and (max-width: 996px) {
  .right h1 {
    font-size: 2rem;
  }

  .right p {
    font-size: 1.5rem;
  }

  a.btn {
    padding: 0.7rem 1.8rem;
  }

  .left img {
    height: 40rem;
    max-width: 25rem;
  }
}

@media only screen and (max-width: 768px) {
  .about-center {
    grid-template-columns: 1fr;
    grid-area: 3rem 0;
  }

  .left {
    text-align: center;
  }

  .left img {
    height: 40rem;
    max-width: 90%;
  }
}

/* Services */
.theme {
  background-color: #000;
}

.theme .title {
  color: #fff;
}

.services-center {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 3rem;
}

.service {
  color: #fff;
  background-color: #111;
  padding: 2rem;
  text-align: center;
  border-radius: 1rem;
  transition: all 300ms ease-in-out;
}

.service span {
  color: #dd9a05;
  font-size: 4rem;
  transition: all 300ms ease-in-out;
}

.service h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.service p {
  font-size: 1.4rem;
  color: #f1f1f1;
}

.service:hover {
  background-color: #dd9a05;
}

.service:hover span {
  color: #fff;
}

/* Skills */
.skills-box:not(:last-child) {
  margin-bottom: 2rem;
}

.skills-box h4 {
  font-size: 1.8rem;
  color: #888;
  font-weight: 500;
}

.skills-box .skills-ilt {
  width: 100%;
  position: relative;
  height: 0.4rem;
  background-color: #ccc;
  border-radius: 0.5rem;
}
/* sets the skill level along the progress bar in yellow */
.skills-box .skills-bar {
  background-color: #dd9a05;
  height: 0.4rem;
}
/* sets how far along the bar to colour */
.skills-box .html {
  width: 85%;
}
.skills-box .css {
  width: 50%;
}
.skills-box .javascript {
  width: 65%;
}
.skills-box .react {
  width: 70%;
}
.skills-box .nodejs {
  width: 65%;
}
.skills-box .sql {
  width: 70%;
}

/* positions the ratings at the end of the skills bar */
.skills-box span {
  position: absolute;
  bottom: 10%;
  right: 0;
  font-size: 1.4rem;
}

/* splits the skill grid into 2 parts */
.skills-center {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
}

.key {
  color: #dd9a05;
  font-style: italic;
}

.key-words {
  color: #888;
  font-style: italic;
}

.right h3 {
  margin-bottom: 1rem;
}

.right p {
  margin-bottom: 2rem;
}

@media only screen and (min-width: 768px) {
  .skills-center {
    grid-template-columns: 1fr;
  }
}

/* Portfolio */
.portfolio {
  color: #fff;
}
